@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.body {
    margin: 0;
    padding: 0;

}

.logo {

    max-width: 12em;
    display: block;
    margin: 0 auto;

}

.iphone {

    max-width: 15em;
    margin-left: auto;
    margin-right: auto;

}

.iphonep {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;

}

.join {
    
    text-align: center;
}

.experience {
    
    text-align: left
}

form {
    
    max-width: 42em;
    margin: 0 auto;
}

.radio {
    
    white-space: nowrap;
}

input + label {
    
    display: inline-block;
}

.name {
    
    width: 100%;
    height: 4em;
}

.email {
    
    width: 100%;
    height: 4em;
}

.age {
    
    width: 100%;
    height: 4em;
}

.explain {
    
    height: 20rem;
    width: 100%;

}

label {
    
    display: block;
    text-align: left;
}


img {
    
    display: block;
    width: 100%;
}

.button {

    max-width: 12em;
    margin-left: auto;
    margin-right: auto;

}

.button-grid {

    margin-left: auto;
    margin-right: auto;

}

.byline {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

.byline2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

h2 {

    display: none;

}

.wrapper {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
}

.bordertop {

    border-top: 27px solid #1b7aa1;
    border-radius: .5em;

}

.option {

    max-width: 12em;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
 
}

.how {
    
    background-color: #1b7aa1;
    font-weight: 55em;
    
}

.centertext{
    
    text-align: center;
    
}

.right {

    text-align: right;

}

.header{
    
    display: block;
    width: 100%;
    background-color: #1b7aa1;
    margin-left: auto;
    margin-right: auto;
}

.billboard {
    padding: 12%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(../images/ink_shelf.jpg);
    padding-top: 10%;
}

 
.nav-top ul { 
	margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #1b7aa1;
    text-align: center;
    padding: .5em;
    font-size: 1rem;
    font-weight: lighter;
    display: block;
}

.nav-top a,
.nav-top a:link,
.nav-top a:visited {
	display: inline-block;
	font-size: 1.25em;
	color: #fff;
	text-decoration: none;
    text-align: center;
}

.nav-top a:hover,
.nav-top a:focus,
.nav-top a:active 
.nav-top .nav-current,
.nav-top .nav-current:link,
.nav-top .nav-current:visited {
    background-color: black;
    color: #fff; 
}

.header {
    overflow: hidden;
}

@media only screen and (min-width: 60em) {
    
    html {
        font-size: 110%;
    }
}

@media only screen and (min-width: 90em) {
    
    html {
        font-size: 1120%;
    }
}

@media only screen and (min-width: 120em) {
    
    html {
        font-size: 130%;
    }
}

*, *:after, *:before {
    box-sizing: inherit;
}

a:focus {
    outline: 3px solid #000;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    background-color: #1B7AA1;
    color: #fff;
    padding: 0.5em 0.75em;
    font-weight: bold;
    text-decoration: none;
}

.skip-links a:focus {
    top: 0;
}

.option {
    max-width: 20em; 
}

.nav {
    margin: 0;
    color: #fff;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
}

.nav a,
.nav a:link,
.nav a:visited {
    display: block;
    color: #fff;
    text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active 
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {
    background-color: #1b7aa1;
    color: #fff;
}

 .nav li {
    display: inline-block;
    margin: 0;
 }

.btt {
    text-decoration-color: #fff;
}

.copy {
    text-align: center;
}

.instagram {
    max-width: 3em;
}

.twitter {
   max-width: 3em;                                
}

.facebook {
    max-width: 3em;
}

.sectionlight {
    background-color: #efefef;
}

.sectionmed {
    background-color: #e2e2e2;
}

.sectiondark {
    background-color: #456778;
}

.sectionlightblue {
    background-color: #d1e4ec;
}

.sectionmidblue {
    background-color: #76afc7;
}

.sectiondarkblue {
    background-color: #1b7aa1; 
}

.nav a {
    text-decoration: none;
}

@media only screen and (min-width: 25em) {
    
    
        .nav li {
            display: inline-block;
            margin: 0;
    }

         .nav-top li {
            display: inline-block;
    }

        .billboard {
            padding-top: 3em;
    }
        .copy {
            text-align: center;
    }
        .nav a,
        .nav a:link,
        .nav a:visited {
            display: inline-block;
    }
   
}

@media only screen and (min-width: 38em) {

        .nav-top {
            width: 100%;
           
            margin: 0;
            margin-left: auto;
            margin-right: auto;
            display: block;
    }

        .overview {
            margin-top: 4em;
            margin-bottom: 4em;
    }

        .features {
            margin-top: 2em;
            margin-bottom: 2em;
    }

        h2 {
            display: block;
            font-weight: lighter;
    }

        .billboard {
            padding-top: 8em; 
    }

        .nav-top li {
            display: inline-block;  
    }

        .copy {
            text-align: center;
        }
}

@media only screen and (min-width: 60em) {

   .data dt {
        float: right;
        width: 10rem;
    }
    
    .data dd {
        clear: right;
    }
    .featurespad {
        padding-top: 3rem;
    }
     .copy {
        text-align: center;
    }
}
