@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {
    
    html {
        font-size: 110%;
    }
}

@media only screen and (min-width: 90em) {
    
    html {
        font-size: 110%;
    }
}

@media only screen and (min-width: 120em) {
    
    html {
        font-size:110;
    }
}

.body {
    margin: 0;
    padding: 0;
}

.logo {
    max-width: 12em;
    display: block;
    margin: 0 auto;
    overflow: hidden;
}

.iphone {
    max-width: 15em;
    margin-left: auto;
    margin-right: auto;
}

.iphonep {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.icon {
    width: 10em;
    margin: auto;
}

.mybuttonlink {
	display: block;
	width: 11.2em;
	height: 11.2em;
	background-image: url(../images/camera.store.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center bottom;
	text-indent: -120em;
    margin-left: auto;
    margin-right: auto;
}

.mybuttonlink:hover {
	background-position: 0 0;
}

.mybuttonlink2 {
	display: block;
	width: 11.2em;
	height: 11.2em;
	background-image: url(../images/formulas.cmyk.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center bottom;
	text-indent: -120em;
    margin-left: auto;
    margin-right: auto;
}

.mybuttonlink2:hover {
	background-position: 0 0;
}

.mybuttonlink3 {
    display: block;
	width: 11.2em;
	height: 11.2em;
	background-image: url(../images/swatches.folder.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center bottom;
	text-indent: -120em;
    margin-left: auto;
    margin-right: auto;
}

.mybuttonlink3:hover {
	background-position: 0 0;
}

.pricelink {
	display: block;
	width: 15em;
	height: 15em;
	background-image: url(../images/freefeature.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center bottom;
	text-indent: -120em;
    margin-left: auto;
    margin-right: auto;
}

.pricelink:hover {
	background-position: 0 0;
}

.pricelink2 {
	display: block;
	width: 15em;
	height: 15em;
	background-image: url(../images/sevenfeature.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center bottom;
	text-indent: -120em;
    margin-left: auto;
    margin-right: auto;
}

.pricelink2:hover {
	background-position: 0 0;
}

.pricelink3 {
	display: block;
	width: 15em;
	height: 15em;
	background-image: url(../images/fifteenfeature.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center bottom;
	text-indent: -120em;
    margin-left: auto;
    margin-right: auto;
}

.pricelink3:hover {
	background-position: 0 0;
}

.features {
        margin-top: auto;
        margin-bottom: auto;
        }

.quote {
    text-align: right;
    color: white;
    margin-right: 10%;
}

.ceo {
    color: #1b7aa1;
}

.joinnow a:hover,
.joinnow a:focus,
.joinnow a:active 
.joinnow .nav-current,
.joinnow .nav-current:link,
.joinnow .nav-current:visited {
    background-color: orange;
    color: #fff; 
}

blockquote span {
    font-weight: bold;
    float: right;
    margin: 1.5rem;
}

blockquote p:before {
    content: "“";
    font-size: 5em;
    color: #76afc7;
    float: left;
    margin: 0 .2em 0 -.5em;
    line-height: .3em;
    position: absolute;
}

blockquote p:after {
    content: "”";
    font-size: 2rem;
    position:absolute;
    color: #76afc7;
    margin: 0 .2em 0 0;
    line-height: 1em;
}

h3 {
    text-align: center;
}

.join {
    text-align: center;
}

.experience {
    text-align: left
}

form {
    max-width: 42em;
    margin: 0 auto;
}

.radio {
    white-space: nowrap;
}

input + label {
    display: inline-block;
}

.name {
    width: 100%;
    height: 4em;
}

.email {
    width: 100%;
    height: 4em;
}

.age {
    width: 100%;
    height: 4em;
}

.explain {
    height: 10rem;
    width: 100%;
}

label {
    display: block;
    text-align: left;
}

img {
    display: block;
    width: 100%;
}

.button {
    max-width: 6em;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;
    border-radius: .2em;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
}

.button a {
    display: inline-block;
}

.button a:hover,
.button a:focus,
.button a:active 
.button .nav-current,
.button .nav-current:link,
.button .nav-current:visited {
    background-color: orange;
    color: #fff; 
    
}

.f-button {
    max-width: 6em;
    max-height: 3.5em;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;
    border-radius: .2em;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
}

.rtt {
    position: fixed;
    bottom: 1em;
    left: -1em;
    width: 5em;
    height: auto;
}

.rtt2 {
     display: none;    
}

.button-grid {
    margin-left: auto;
    margin-right: auto;
    max-width: 35em;
}

.byline {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

.byline2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.byline3 {
    margin-left: auto;
    margin-right: auto;
    max-width: 25em;
}

h2 {
    display: none;
}

.founder {
    font-weight: bold;
}

.wrapper {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;  
}

.wrapper2 {
    max-width: 70em;
    margin-left: auto;
    margin-right: auto;  
}

.everyone {
    max-width: 35em;
    margin-left: auto;
    margin-right: auto;
}

.bordertop {
    border-top: 27px solid #1b7aa1;
    border-radius: .5em;
}

.option {
    max-width: 25em;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.how {
    background-color: #1b7aa1;
    font-weight: 55em; 
    background-image:url(../images/textured_background.jpg);
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.centertext{
    text-align: center;
}

.right {
    text-align: right;
}

.header{
    display: block;
    width: 100%;
    background-image:url(../images/textured_background.jpg);
    background-position: center center;
    background-size: 100%;
    background-repeat: repeat;
    margin-left: auto;
    margin-right: auto;
}

.billboard {
    padding: 12%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(../images/ink_shelf.jpg);
    height: 100%;
}

.billboard2 {
    padding: 12%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(../images/shop.png);
    height: 100%;
}

.billboard3 {
    padding: 30%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(../images/founders.png);
    height: 100%;
}

.review {
    max-width: 44em;
    margin-left: auto;
    margin-right: auto;
}

.nav-top li {
        display: inline-block;
}

.nav-top ul { 
	margin: 0;
    list-style-type: none;
    background: none;
    padding: .5em;
    font-size: 1rem;
    font-weight: lighter;
    display: block;
    text-align: center;
}

.nav-top a,
.nav-top a:link,
.nav-top a:visited {
	display: inline-block;
	font-size: 1.25em;
	color: #fff;
	text-decoration: none;
    text-align: center;
}

.nav-top a:hover,
.nav-top a:focus,
.nav-top a:active 
.nav-top .nav-current,
.nav-top .nav-current:link,
.nav-top .nav-current:visited {
    background-color: orange;
    color: #fff; 
    border-radius: .2em;
}

*, *:after, *:before {
    box-sizing: inherit;
}

a:focus {
    outline: 3px 50% orange;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    background-color: #222;
    color: #fff;
    padding: 0.5em 0.75em;
    font-weight: bold;
    text-decoration: none;
}

.skip-links a:focus {
    top: 0;
}

.nav {
    margin: 0;
    color: #fff;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
}

.nav a,
.nav a:link,
.nav a:visited {
    display: block;
    color: #fff;
    text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active 
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {
    background-color: #222;
    color: #fff;
}

 .nav li {
    display: inline-block;
    margin: 0;
 }

.bullet ul li {
    list-style-image: url(../images/bullet.svg);
}

.instagram {
    max-width: 3em;
}

.twitter {
   max-width: 3em;                                
}

.facebook {
    max-width: 3em;
}

.sectionlight {
    background-color: #efefef;
}

.sectionmed {
    background-color: #e2e2e2;
}

.sectiondark {
    background-color: #456778;
}

.sectionlightblue {
    background-color: #d1e4ec;
}

.sectionmidblue {
    background-color: #76afc7;
}

.sectiondarkblue {
    background-color: #1b7aa1; 
}

.nav a {
    text-decoration: none;
}

.copy {
    text-align: center;
    }
.footer {
    background-image:url(../images/textured_background_Dark.jpg);
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.footer-nav {
        text-align: center;
    }

@media only screen and (min-width: 25em) {
    
    .nav li {
        display: inline-block;
        margin: 0;
        }
    .quote {
        text-align: right;
        color: white;
        font-weight: bold;
        margin-right: 15%;
        }
    .rtt {
        display: none;     
        }
    .rtt2 {
        display: inline;     
        }

    .billboard {
        padding-top: 3em;
        }
    .copy {
        text-align: center;
        }
    .nav a,
    .nav a:link,
    .nav a:visited {
        display: inline-block;
    }
    .footer-nav {
        text-align: center;
        padding-top: 2%;
    }
}

@media only screen and (min-width: 38em) {

    .signin {
    position: absolute;
    top: 2em;
    right: 2em;
    }
    .nav-top {
        width: 100%;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        }
    .overview {
        margin-top: 4em;
        margin-bottom: 4em;
        }
    .clickaway {
        margin-top: 4em;
        margin-bottom: 4em;
        }
    h2 {
        display: block;
        font-weight: lighter;
        }
    .billboard {
        padding-top: 8em; 
        }
    .nav-top li {
        display: inline-block;  
        }
    .copy {
        text-align: left;
        padding-left: 5%;
        }
    .footer-nav {
        text-align: right;
        padding-top: .8em;
        padding-right: 5%;
    }
}

@media only screen and (min-width: 60em) {

    .data dt {
        float: right;
        width: 10rem;
    }
    .data dd {
        clear: right;
    }
    .featurespad {
        padding-top: 3rem;
    }
     .copy {
        text-align: left;
    }
}
